div {
  width: 400px;
  height: 400px;
  background-color: gray;
  border: 10px solid red;
  /* padding: 50px; */
  /* padding: 25px 50px 75px 100px; */
  /* padding: 25px 50px 75px; */
  padding: 25px 50px;
}